/* styles.css */

/* Center images horizontally and vertically */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid aliceblue;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
}

/* Contains image to avoid cropping */
.image-container img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Maintain aspect ratio for images */
.centered-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Ensure all containers have the same height */
.portfolio-item {
    height: 300px;
    position: relative;
}

/* Custom URL Styling */
.custom-link {
    color: blueviolet;
}

.custom-link:hover {
    color: rgb(89, 1, 172);
}