/* styles.css */

/* Center images horizontally and vertically */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid aliceblue;
  background-color: azure;
  border-radius: 20px;
  padding: 10px;
}

/* Contains image to avoid cropping */
.image-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 20px;
}

/* Maintain aspect ratio for images */
.centered-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Ensure all containers have the same height */
.portfolio-item {
  height: 300px;
  position: relative;
}

/* Custom URL Styling */
.custom-link {
  color: cyan;
}

.custom-link:hover {
  color: darkcyan;
}

/* Styling for Gold Star for Projects */
.position-bottom-end {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 4rem;
  color: gold;
  z-index: 2;
  animation: heartbeat 1.5s infinite;
  /* Apply heartbeat animation */
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    /* Increase scale during the middle of the animation */
  }
}

/* Styling for Custom Hover */
.custom-hover {
  overflow: hidden;
  perspective: 1000px;
}

.custom-hover img {
  transition: transform 0.3s ease;
}

.custom-hover:hover img {
  transform: translateZ(-50px) scale(1.1);
}

/* Move Items in front of Mouse Effect */
.move-forward {
  z-index: 10;
}

/* Modified Custom CSS for Mouse Effect by Hyperplexed Inspired by Canva */
:root {
  --glow-rgb: 239 42 201;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
  z-index: 1;
}

.star {
  position: absolute;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
  z-index: 1;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}

/* ------------------------------ Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: rgb(44,62,80);
}
::-webkit-scrollbar-thumb {
  background: #6f42c1;  /* Purple color */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5a2b96; /* Darker purple for hover effect */
}